@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 33% 98%;
    --foreground: 20 14% 4%;
    --card: 27 56% 92%;
    --card-foreground: 20 14% 4%;
    --popover: 30 33% 98%;
    --popover-foreground: 20 14% 4%;
    --primary: 30 95% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 56% 92%;
    --secondary-foreground: 30 95% 43%;
    --muted: 27 40% 90%;
    --muted-foreground: 25 5% 45%;
    --accent: 30 95% 43%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 56% 88%;
    --input: 27 56% 88%;
    --ring: 30 95% 43%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 30 10% 10%;
    --foreground: 0 0% 98%;
    --card: 30 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 30 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 30 90% 60%;
    --primary-foreground: 30 10% 10%;
    --secondary: 30 10% 20%;
    --secondary-foreground: 30 90% 60%;
    --muted: 30 10% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 30 90% 60%;
    --accent-foreground: 30 10% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 25%;
    --input: 30 10% 25%;
    --ring: 30 90% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
